.header1{
    display: flex;
    justify-content: space-between;
   }
.header2{
    display: flex;
    align-items: center;
} 
.btn{
    height: 30px;
    border: 0px;
    background-color: #1eb11e;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.c{
    color:#1eb11e;
}
.p1{
    margin: 0px;
}
body{
    margin: 0px;
}
.header3{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
ol{
    display: flex;
    margin: 0px;
    padding: 0px;
}
li{
    display: block;
    padding: 10px 20px;
}
header a{
    color:white;
    text-decoration: none;
}
.courses{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}
.selected{
    background-color: #1eb11e;
}