.header1{
    display: flex;
    justify-content: space-between;
   }
.header2{
    display: flex;
    align-items: center;
} 
.btn{
    height: 30px;
    border: 0px;
    background-color: #1eb11e;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.c{
    color:#1eb11e;
}
.p1{
    margin: 0px;
}
body{
    margin: 0px;
}

.header3{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
.liste{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.header3 nav{
    display: flex;
    align-items: center;
}
.header3 a{
   color: white;
   padding: 10px 15px;
   text-decoration: none;
   transition-duration: 1s;
}
.header3 a:hover{
    color:gray;
    background-color: white;
    margin: 0px 5px;
}
.selected{
    color:white;
    background-color: #1eb11e;
}
main{
    display: flex;
}
aside{
    width: 30%;
    background-color: rgba(243, 243, 243, 0.993);
    
}
section{
    width: 70%;
}
aside div{
    display: flex;
    flex-direction: column;
}
aside a{
    color:black;
    text-decoration: none;
    font-size: 13px;
    margin: 3px 0px;
}
aside h2,aside a{
    padding-left: 10px;
    text-transform: uppercase;
}
.titre{
    margin-top: 100px;
    margin-left: 30px;
}
.div1{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.div1 button{
    color:white;
    border: 0px;
    background-color: #1eb11e;
    padding: 5px 10px;
}
.logo{
    width: 100px;
    height: 100px;
}
.div2{
    display: flex;
    background-color: rgb(194, 255, 194);
    padding: 50px 20px;
    align-items: center;
    margin: 30px 0px;
}